@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.noteEdit {
    -fx-spacing: 15px;
    -fx-padding: 20px 0px;
    -fx-background-color: #FCE397;
}

.noteEdit-title {
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-spacing: 15px;
    -fx-padding: 0px 10px;
}

.noteEdit-title-label {
    -fx-font-size: 16px;
    -fx-font-family: 'Montserrat';
    -fx-font-weight: 700;
}

.noteEdit-editor {
    -fx-background-color: transparent;
    -fx-border-width: 0px;
}

.button, .toggle-button, .combo-box, .color-picker {
    -fx-background-color: #fff;
    -fx-color-label-visible: true;
    -fx-cursor: hand;
}

.top-toolbar, .bottom-toolbar {
    -fx-background-color: #FCE397;
    -fx-border-width: 0px;
    -fx-padding: 10px;
}

.noteEdit-footer {
    -fx-spacing: 25px;
    -fx-padding: 0px 10px;
}

.noteEdit-footer-button {
    -fx-padding: 15px 35px;
    -fx-border-radius: 100%;
    -fx-cursor: hand;
}